@model IEnumerable<ZenithWebsite.Models.Event>

@{
    ViewData["Title"] = "Home Page";
}

<h2>ZenithSociety</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            @foreach (var i in Model.GroupBy(j => j.EventFrom.ToString()))
            {
                <tr class="active">
                    <td colspan="2">@i.Key.ToString()</td>
                </tr>

                foreach (var k in i)
                {
                    <tr>
                        <td>@k.EventFrom.ToString() to @k.EventTo.ToString()</td>
                        <td>@k.Activity.ActivityDescription</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>