@model IEnumerable<ZenithWebsite.Models.Event>

@{
    ViewData["Title"] = "Home Page";
}

<h2>ZenithSociety</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            @foreach (var eventItem in Model.GroupBy(e => e.EventFrom.Date).Select(e => e.FirstOrDefault()).ToList())
            {
                <tr class="active" style="font-weight:bold">
                    <td>
                        @eventItem.EventFrom.Date.ToString("D")
                    </td>
                    <td></td>
                </tr>
                foreach (var item in Model.Where(e => e.EventFrom.Date.ToString() == eventItem.EventFrom.Date.ToString()))
                {
                    <tr>
                        <td>
                            @item.EventFrom.ToString("hh:mm tt") to @item.EventTo.ToString("hh:mm tt")
                        </td>
                        <td>
                            @item.Activity.ActivityDescription
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>